.btnContainer{
    position: relative;
    top: 50vh;
}
.buttonDiv{
    border-radius: 100%;
    background-image: radial-gradient(rgb(56, 55, 63), rgb(34, 35, 39));
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.726), -3px -3px 20px rgba(91, 143, 192, 0.192);
    width: 30vw;
    height: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: box-shadow 3s;
    cursor: pointer;
}    
.signature{
    width: 25vw;
    text-align: center;
    position: relative;
    top: 35%;
    left: 7%;
    user-select: none;
}
.signature:active{
    transform: translate(3px, 3px);
}
.buttonDiv:active{
    box-shadow: inset 3px 3px 30px rgba(0, 0, 0, 0.795), inset -3px -3px 30px rgba(182, 182, 182, 0.192);
}
.insetCircle{
    border-radius: 100%;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5), inset -3px -3px 10px rgba(0, 0, 0, 0.192);
    width: 35vw;
    height: 35vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.light{
    width: 30vw;
    height: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    color: cyan;
    box-shadow: 3px 0px 100px cyan;
    opacity: 0;
    transition: rotate 2s, opacity 2s;
}
.light-active{
    width: 30vw;
    height: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    color: cyan;
    box-shadow: 3px 0px 100px cyan;
    opacity: 1;
    transition: rotate 2s, opacity 2s;

}
.btnText{
    text-align: center;
    position: relative;
    top: 15%;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    z-index: 3;
    cursor: pointer;
    user-select: none;
    text-shadow: 0px 0px 10px rgba(122, 183, 202, 0.801);
}
