.port-item-title{
    color: rgb(198, 204, 209);
    font-size: 4vh;
    margin-bottom: 7vh;
    text-align: center;
    display: block;
    position: relative;
    transform: translateY(-20px);
}
.portfolioTitleContainer{
    height: 20vw;
    width: 100%;
    box-shadow: inset 3px 3px 30px rgb(0, 0, 0), inset -3px -3px 30px rgba(209, 40, 40, 0.479);
    position: relative;
    top: 90vh;
    border-radius: 30px;
}
.portfolioTitle{
    position: relative;
    display: block;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 40vw;    
}
.port-item-desc{
    color: rgb(198, 204, 209);
    font-size: 3vh;
    text-align: center;
    width: 100%; 
    display: block;
    position: relative;
    bottom: 8vh;

}
.portfolio-item{
    width: 45vh;
    height: 70%;
    display: inline-block;
    margin: 30px;
    padding: 2vw 2vw 15vh 2vw;
    box-shadow: 3px 3px 20px rgb(0, 0, 0), -3px -3px 20px rgba(255, 255, 255, 0.24);
    border-radius: 30px;
}
.portfolio-img{
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 30px;
}
.portfolioContainer{
    font-family: 'Quicksand', sans-serif;
    height: 85vh;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-shadow: inset 3px 3px 20px rgb(0, 0, 0), inset -3px -3px 20px rgb(0, 0, 0);
    position: relative;
    top: 97vh;
    border-radius: 30px;
}
.gitLink{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.445);
    font-size: 2vh;
    border-top: 2px solid white;
    bottom: 5vh;
}

::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.582), inset -3px -3px 5px rgba(0, 0, 0, 0.507);
    border-radius: 30px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(56, 55, 63); 
    border-radius: 30px;
    box-shadow: 0px 3px 20px rgb(0, 0, 0), 0px -3px 20px rgb(253, 0, 0);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
  }