.aboutDiv {
  box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5),
    inset -3px -3px 10px rgba(0, 0, 0, 0.192);
    border-radius: 30px;
    width: 100%;
    position: relative;
    top: 90vh;
}
.aboutTxt{
    color: rgb(207, 207, 207);
    font-family: 'Quicksand', sans-serif;
    display: block;
    font-size: 4vh;
    font-weight: 0;
    margin: 3vw;
    padding: 2vw;
    text-indent: 3vw;
}
.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    padding: 3vw;
}
