.contactDiv {
  border-radius: 30px;
  background-image: radial-gradient(rgb(56, 55, 63), rgb(34, 35, 39));
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.726),
    -3px -3px 20px rgba(91, 143, 192, 0.192);
  width: 90%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 100vh;
}
.contactInfo {
  font-size: 3vw;
  font-family: 'Quicksand', sans-serif;
  color: rgb(197, 197, 197);
  list-style: none;
  line-height: 9vh;
  display: inline-block;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
a{
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.637);
}
.title {
  width: 20vw;
  height: auto;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
