.logoImg1 {
  opacity: 0;
  height: 3vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: width 2s, height 2s, opacity 2s;
}
.logoImg2 {
    opacity: 1;
    height: 12vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: width 2s, height 2s, opacity 2s;
}
.logoPosition1 {
  width: 100%;
  height: 30vw;
  position: relative;
  top: 50vh;
  display: flex;
  transition: top 2s;
}
.logoPosition2 {
    width: 100%;
    height: 30vw;
    position: relative;
    top: 100vh;
    display: flex;
    transition: top 2s;
}
