body{
    background: rgb(34, 35, 39);
    font-family: 'Quicksand', sans-serif;
}
a{
    text-emphasis: none;
    text-decoration: none;
}
.techSkills{
    text-align: center;
    position: relative;
    top: 100vh;
    font-size: 4vh;
}